@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

/* #app {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

body {
  background-color: #1e1f25;
  color: #e3e4e8;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: #4a90e2;
  border-color: #4a90e2;
}
.btn-primary:hover {
  background-color: lighten(#4a90e2, 5%);
}

h2 {
  color: #e3e4e8 !important;
}

.topbar {
  height: 60px;
}

.topbar-badge {
  position: absolute;
  top: 0;
  right: -5px;
  font-size: 0.65rem;
}
